<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.min.js"></script>

    <script src="app.js"></script>
    <script src="env/env.js"></script>
    <script src="main_controller.js"></script>
    <script src="elastic.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

    <meta charset="utf-8">

    <title>StarBook</title>

    <link rel="stylesheet" type="text/css" href="assets/stylesheet.css">

</head>

<body background="images/BG_img.png" ng-controller="mainCtrl as mainCtrl">
<div class="navbar">
    <img src="images/Yotpo-Logo.png" class="yo-logo"/>
    <img src="images/home.png" class="home" onclick="globalVar.resetRoot()" style="cursor: pointer"/>
    <div id="breadcrumbs">
    </div>
</div>
<div class="personal-info">
    <a>Me</a>
    <a ng-click="mainCtrl.signOut()">Logout</a>
</div>
<img src="images/ring.svg" class="loader" style="">
<a href="#" onclick="globalVar.prevArrow()" class="back-arrow hide"></a>

<div class="side-bar">
    <img src="images/open.png" class="open-side-bar" onclick="toggleSideBar()"/>
    <div ng-controller="myCtrl">

        <div class="search-bar-container">
            <input type="text" ng-model="search" ng-model-options="{ debounce: 1000 }" placeholder="Search" class="search-bar" ng-change="textChanged()" ng-blur="onLeaveSearch()"/>
        </div>

        <div class="user-details-wrapper">
            <img class="user-image" src="images/1.png" width="90">
            <div class="user-name">Star Book</div>
            <div class="user-title">Magician</div>
            <hr class="seperator"/>
            <div class="user-email">starbook@yotpo.com</div>
            <img src="images/email.png">
            <div class="user-phone">1800-STARBOOK</div>
            <img src="images/Phone_icon.png">
            <a href="https://yotpo.slack.com/messages/" target="_blank">
                <div class="user-slack">Open a slack chat</div>
                <img src="images/slack.png">
            </a>
            <hr class="seperator"/>
            <div class="skills">Professional Skills</div>
            <div class="user-skills"><span class="user-skill">talking</span><span class="user-skill">gossiping</span><span class="user-skill">googeling</span></div>
            <hr class="seperator"/>
            <div class="skills">Personal Hobbies</div>
            <div class="user-hobbies"><span class="user-skill">golf</span><span class="user-skill">soccer</span><span class="user-skill">basketball</span></div>
        </div>

        <table cellpadding="5" cellspacing="0" border="1" class="user-table" ng-show="showTable">
            <tr ng-repeat="name in names">
                <td class="table-row" ng-click="nameClicked(name)">{{name}}</td>
            </tr>
        </table>
    </div>

</div>


<script>
    function toggleSideBar() {
        var sideBar = document.getElementsByClassName("side-bar")[0];
        if (sideBar.classList.contains('sider')) {
            sideBar.classList.remove('sider');
        } else {
            sideBar.classList.add('sider');
        }
    }

    function populateGraph(treeData) {

        document.getElementsByClassName('loader')[0].classList.add('hide');

        // ************** Generate the tree diagram  *****************
        var margin = {top: 40, right: 120, bottom: 20, left: 120},
                width = 960 - margin.right - margin.left,
                height = 500 - margin.top - margin.bottom;

        var i = 0, duration = 750, root, oldRoot;

        var tree = d3.layout.tree().size([height, width]);

        var diagonal = d3.svg.diagonal()
                .projection(function (d) {
                    return [d.x, d.y];
                });

        var svg = d3.select("body").append("svg")
                .attr("width", width + margin.right + margin.left)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var imageIndex = 0;

        function getImage(node) {
            return node['image'] || ('images/' + (++imageIndex % 30 + 1) + '.png');
        }

        var node = treeData;
        recSetImage(node, null);
        function recSetImage(node, parent) {
            if (node) {
                node.image = getImage(node);
                node.parentNode = parent;
                var childs = node._children || node.children;
                if (childs) {
                    for (var i = 0; i < childs.length; i++) {
                        recSetImage(childs[i], node)
                    }
                }
            }
        }

        treeData.children = treeData._children;
        treeData._children = null;

        root = treeData;
        root.x0 = height / 2;
        root.y0 = 0;
        root.image = 'images/yotpo.png';

        oldRoot = root;

        update(root);
        updateSideBar(root);

        d3.select(self.frameElement).style("height", "500px");

        var backArrow = document.getElementsByClassName("back-arrow")[0];
        backArrow.setAttribute("visibility", "visible");

        function update(source) {

            showHideArrow();

            // Compute the new tree layout.
            var nodes = tree.nodes(root).reverse(),
                    links = tree.links(nodes);

            // Normalize for fixed-depth.
            nodes.forEach(function(d) {
                d.y = d.depth * 200;
            });

            // Update the nodes…
            var node = svg.selectAll("g.node")
                    .data(nodes, function(d) {
                        return d.id || (d.id = ++i);
                    });

            // Enter any new nodes at the parent's previous position.
            var nodeEnter = node.enter().append("g")
                    .attr("class", "node")
                    .attr("transform", function(d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    })
                    .on("click", click);

            var clip = nodeEnter.append("svg:clipPath")
                    .attr("id", "clip")
                    .append("svg:circle")
                    .attr("cx", "0")
                    .attr("cy", "0")
                    .attr("r", "40");

            // Append images
            nodeEnter.append("svg:image")
                    .attr("xlink:href", function(d) {
                        return d.image;
                    })
                    .attr("x", function() {
                        return -40;
                    })
                    .attr("y", function() {
                        return -40;
                    })
                    .attr("height", 80)
                    .attr("width", 80)
                    .attr("clip-path", "url(#clip)");

            nodeEnter.append("text")
                    .attr("x", function() {
                        return -27.5;
                    })
                    .attr("dy", "6.25em")
                    .text(function(d) {
                        var nameArr = d.name.split(' ');
                        if (nameArr.length == 1) {
                            return d.name;
                        }
                        return nameArr[0] + ' ' + nameArr[1][0] + '.';
                    })
                    .style("fill-opacity", 1e-6);

            // Transition nodes to their new position.
            var nodeUpdate = node.transition()
                    .duration(duration)
                    .attr("transform", function (d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    });


            nodeUpdate.select("text")
                    .duration(1000)
                    .style("fill-opacity", 1);

            // Transition exiting nodes to the parent's new position.
            var nodeExit = node.exit().transition()
                    .duration(duration)
                    .attr("transform", function (d) {
                        return "translate(" + source.x + "," + source.y + ")";
                    })
                    .remove();


            nodeExit.select("text")
                    .style("fill-opacity", 1e-6);

            // Update the links…
            var link = svg.selectAll("path.link")
                    .data(links, function (d) {
                        return d.target.id;
                    });

            // Enter any new links at the parent's previous position.
            link.enter().insert("path", "g")
                    .attr("class", "link")
                    .attr("d", function (d) {
                        var o = {x: source.x0, y: source.y0};
                        return diagonal({source: o, target: o});
                    });

            // Transition links to their new position.
            link.transition()
                    .duration(duration)
                    .attr("d", diagonal);

            // Transition exiting nodes to the parent's new position.
            link.exit().transition()
                    .duration(duration)
                    .attr("d", function() {
                        var o = {x: source.x, y: source.y};
                        return diagonal({source: o, target: o});
                    })
                    .remove();

            // Stash the old positions for transition.
            nodes.forEach(function(d) {
                d.x0 = d.x;
                d.y0 = d.y;
            });
        }

        // Toggle children on click.
        function click(d) {
            if (root == d) {
                return;
            }
            showChilds(d);
            hideChildsOfChilds(d);
            updateBreadcrumbs(d);
            root = d;
            update(d);
            updateSideBar(d);
        }


        function createLinks(nodes) {
            var bc = document.getElementById('breadcrumbs');
            bc.innerHTML = '';
            for (var i = 0; i < nodes.length; i++) {
                appendLink(nodes[i], bc);
            }
        }

        function appendLink(node, bc) {
            var link = document.createElement('a');
            link.href = "#";
            link.className = node.name;
            link.onclick = function () {
                var childs = this.parentElement.children;
                var childsToRemove = [];
                var shouldRemove = false;
                for (var i = 0; i < childs.length; i++) {
                    if (childs[i] === this) {
                        shouldRemove = true;
                    } else {
                        if (shouldRemove) {
                            childsToRemove.push(childs[i]);
                        }
                    }
                }
                for (var i = 0; i < childsToRemove.length; i++) {
                    this.parentElement.removeChild(childsToRemove[i]);
                }
                this.parentElement.removeChild(this);
                hideChildsOfChilds(node);
                showChilds(node);
                updateRoot(node);
                updateSideBar(node);
            };
            var oImg = document.createElement("img");
            oImg.setAttribute('src', 'images/BC_arrow.png');
            link.appendChild(oImg);
            var t = document.createTextNode(node.name);
            link.appendChild(t);
            bc.appendChild(link);
        }

        function updateRoot(node) {
            root = node;
            update(root);
        }

        function getFakePhone() {
            return Math.random().toString().slice(2,11);
        }

        function updateSideBar(node) {
            var userWrapper = document.getElementsByClassName("user-details-wrapper")[0];
            userWrapper.setAttribute("display", "block");

            var userImage = document.getElementsByClassName("user-image")[0];
            userImage.src = node.image;

            var userName = document.getElementsByClassName("user-name")[0];
            userName.textContent = node.name;

            var userTitle = document.getElementsByClassName("user-title")[0];
            userTitle.textContent = node.title;

            var userEmail = document.getElementsByClassName("user-email")[0];
            userEmail.textContent = node.email;

            var userPhone = document.getElementsByClassName("user-phone")[0];
            userPhone.textContent = node.phone || getFakePhone();

            var userSkills = document.getElementsByClassName("user-skills")[0];
            userSkills.textContent = '';
            for (var i = 0; node.expertise && i < node.expertise.length; i++) {
                var span = document.createElement('span');
                span.textContent = node.expertise[i];
                span.className = "user-skill";
                userSkills.appendChild(span);
            }

            var userHobbies = document.getElementsByClassName("user-hobbies")[0];
            userHobbies.textContent = '';
            for (var i = 0; node.hobbies && i < node.hobbies.length; i++) {
                var span = document.createElement('span');
                span.textContent = node.hobbies[i];
                span.className = "user-skill";
                userHobbies.appendChild(span);
            }
        }

        function showHideArrow() {
            var ba = document.getElementsByClassName('back-arrow')[0];
            if (root == oldRoot) {
                ba.classList.add('hide');
            } else {
                ba.classList.remove('hide');
            }
        }

        function updateBreadcrumbs(node) {
            var nodes = [];
            node = node.parentNode;
            while (node) {
                if (node && node != null && node != 'null')
                    nodes.push(node);
                node = node.parentNode;
            }
            if (nodes[0])
                createLinks(nodes.reverse());
        }

        function findNodeByName(name) {
            function searchTree(d) {
                if (d.children)
                    d.children.forEach(searchTree);
                else if (d._children)
                    d._children.forEach(searchTree);
                if (d.name == name) {
                    currNode = d;
                }
            }

            searchTree(oldRoot);
        }

        function hideChildsOfChilds(node) {
            if (node.children) {
                for (var i = 0; i < node.children.length; i++) {
                    hideChilds(node.children[i]);
                }
            }
        }

        function hideChilds(node) {
            if (node.children) {
                node._children = node.children;
                node.children = null;
            }
        }

        function showChilds(node) {
            if (node._children) {
                node.children = node._children;
                node._children = null;
            }
        }

        globalVar = {};

        globalVar.prevArrow = function() {
            var bc = document.getElementById('breadcrumbs');
            bc.lastChild.click();
        };

        globalVar.resetRoot = function() {
            hideChildsOfChilds(oldRoot);
            showChilds(oldRoot);
            updateRoot(oldRoot);
            var bc = document.getElementById('breadcrumbs');
            bc.innerHTML = '';
        };

        currNode = undefined;

        globalVar.updateByName = function(name) {
            findNodeByName(name);
            if (currNode) {
                updateSideBar(currNode);
                hideChildsOfChilds(currNode);
                showChilds(currNode);
                updateRoot(currNode);
                updateBreadcrumbs(currNode);
                var ba = document.getElementsByClassName('back-arrow')[0];
                ba.classList.add('hide');
            } else {
                var bc = document.getElementById('breadcrumbs');
                bc.innerHTML = '';
            }
        }
    }

</script>

</body>
</html>
