body {
    margin: 0;
    font-family: 'Open Sans';
}

.tree {
    left: calc(50% - 436px);
    position: absolute;
    top: 220px;
    max-height: 400px;
    transition: left 0.7s linear;
}

.tree.slider {
    left: calc(50% - 436px - 195px);
}

.node {
    cursor: pointer;
}

.node text {
    font: 12px 'Open Sans';
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.add-skill{
    top: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.remove-skill{
    bottom: 0;
    position: absolute;
    cursor: pointer;
    right: 0;

}

.delete-skill-x{
    top: -7px;
    position: absolute;
    right: -5px;
    cursor: pointer;
}

.delete-hobby-x{
    top: -7px;
    position: absolute;
    right: -5px;
    cursor: pointer;
}

.personal-info {
    position: absolute;
    right: 25px;
    top: 15px;
    transition: right 0.7s linear;
}

.personal-info.slider {
    right: 425px;
}

.personal-info a {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-right: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #b6d7ff;
}

.side-bar {
    width: 385px;
    height: 100%;
    right: 6px;
    position: absolute;
    border-left: 1px solid lightgray;
    z-index: 1000;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(72,72,72,.05);
    -moz-box-shadow: 0 0 40px rgba(72,72,72,.05);
    box-shadow: 0 0 40px rgba(72,72,72,.05);
    border: solid 1px rgba(218,218,218,.58);
    transition: right 0.7s linear;
}

#breadcrumbs {
    position: absolute;
    top: 15px;
    left: 92px;
}

#breadcrumbs a {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-right: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #b6d7ff;
}

#breadcrumbs a img {
    margin-right: 6px;
}

.back-arrow {
    position: absolute;
    left: calc(50% - 16px);
    top: 114px;
    cursor: pointer;
    text-decoration: none;
    background-image: url('../images/arrow.png');
    width: 33px;
    height: 33px;
    transition: left 0.7s linear;
}

.back-arrow.slider {
    left: calc(50% - 210px);
}

.hide {
    display: none !important;
}

.user-table {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
}

.user-table em {
    font-style: normal;
    font-weight: bold;
}

.user-table .query-highlight {
    font-size: 12px;
}

.user-table .person-image {
    max-width: 50px;
}

.user-image {
    border-radius: 50%;
}

.user-title {
    position: relative;
    top: -64px;
    left: 119px;
    color: #2895F1;
    max-width: 210px;
}

.edit-user-title {
    position: relative;
    top: -83px;
    left: 100px;
    cursor: pointer;
}

.skills {
    padding-bottom: 11px;
    position: relative;
}

.user-skills {
    position: relative;
}

.user-skill {
    border: 1px solid #3bb3f1;
    border-radius: 18px;
    padding: 4px 9px 4px 11px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
}

.user-hobbies {
    padding-bottom: 5px;
    position: relative;
}

.table-row {
    cursor: pointer;
}

.navbar {
    background-color: #2f84ed;
    width: 100%;
    height: 70px;
}

.search-bar-container {
    position: absolute;
    right: 9px;
    top: -57px;
}

.search-bar {
    width: 356px;
    padding-left: 16px;
    height: 38px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
}

.seperator {
    border: #efefef 1px solid;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.delete-user-button {
    display: table;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.yo-logo {
    width: 40px;
    margin-top: 13px;
    margin-left: 10px;
}

.user-details-wrapper {
    margin: 25px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold; color: #56575f;
    overflow-x: hidden;
}

.user-email {
    position: relative;
    top: 26px;
    left: 46px;
}

.user-phone {
    position: relative;
    top: 26px;
    left: 46px;
}

.user-phone.clickable {
    cursor: pointer;
}

.home {
    width: 24px;
    margin-bottom: 7px;
    margin-left: 10px;
}

.user-name {
    position: relative;
    max-width: 200px;
    left: 120px;
    top: -72px;
}

.user-slack {
    position: relative;
    top: 26px;
    left: 46px;
    text-decoration: none;
}

.open-side-bar {
    position: absolute;
    left: -55px;
    top: 21px;
    cursor: pointer;
}

.sider {
    position: absolute;
    right: -386px;
}

.loader {
    position: absolute;
    top: 271px;
    left: calc(50% - 273px);
}

.modal-backdrop.in {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    opacity: 0.9;
}

.modal {
    display: none;
}

.modal.in {
    display: block;
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 1050;
    width: 400px;
    margin-left: -200px;
    padding-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    min-height: 200px;
}
.modal .yotpo-logo {
    padding-top: 20px;
    width: 80px;
}

.modal .sign-in {
    width: 200px;
}

.add-person-dialog{
    width: 100%;
    padding: 35px;
}

.add-person-title {
    text-align: center;
}