body {
    margin: 0;
    font-family: 'Open Sans';
}

.node {
    cursor: pointer;
}

.node text {
    font: 12px 'Open Sans';
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.personal-info {
    position: absolute;
    right: 425px;
    top: 15px;
}

.personal-info a {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-right: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #b6d7ff;
}

.side-bar {
    width: 385px;
    height: 90%;
    right: 6px;
    position: absolute;
    border-left: 1px solid lightgray;
    z-index: 99999;
    background-color: #fff;
    -webkit-box-shadow: 0 0 40px rgba(72,72,72,.05);
    -moz-box-shadow: 0 0 40px rgba(72,72,72,.05);
    box-shadow: 0 0 40px rgba(72,72,72,.05);
    border: solid 1px rgba(218,218,218,.58);
    transition: right 0.7s linear;
}

svg {
    position: absolute;
    top: 220px;
    left: 0;
    max-height: 400px;
}

#breadcrumbs {
    position: absolute;
    top: 15px;
    left: 92px;
}

#breadcrumbs a {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-right: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #b6d7ff;
}
#breadcrumbs a img {
    margin-right: 6px;
}

.back-arrow {
    position: absolute;
    left: 422px;
    top: 114px;
    cursor: pointer;
    text-decoration: none;
    background-image: url('../images/arrow.png');
    width: 33px;
    height: 33px;
}

.hide {
    display: none !important;
}

.user-table {
    width: 100%;
    position: absolute;
    top: 0;
    background-color: white;
}

.user-image {
    border-radius: 50%;
}

.user-title {
    position: relative;
    top: -64px;
    left: 119px;
    color: #2895F1;
    max-width: 210px;
}

.skills {
    padding-bottom: 11px;
}

.user-skills {
    padding-bottom: 5px;
    margin-right: 5px;
}

.user-skill {
    border: 1px solid #3bb3f1;
    border-radius: 18px;
    padding: 4px 9px 4px 11px;
    margin-right: 5px;
}

.user-hobbies {
    padding-bottom: 5px;
}

.table-row {
    cursor: pointer;
}

.navbar {
    background-color: #2f84ed;
    width: 100%;
    height: 70px;
}

.search-bar-container {
    position: absolute;
    right: 9px;
    top: -57px;
}

.search-bar {
    width: 356px;
    padding-left: 16px;
    height: 38px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
}

.seperator {
    border: #efefef 1px solid;
}

.yo-logo {
    width: 40px;
    margin-top: 13px;
    margin-left: 10px;
}

.user-details-wrapper {
    margin: 25px;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold; color: #56575f;
}

.user-email {
    position: relative;
    top: 26px;
    left: 46px;
}

.user-phone {
    position: relative;
    top: 26px;
    left: 46px;
}

.home {
    width: 24px;
    margin-bottom: 7px;
    margin-left: 10px;
}

.user-name {
    position: relative;
    left: 120px;
    top: -72px;
}

.user-slack {
    position: relative;
    top: 26px;
    left: 46px;
    text-decoration: none;
}

.open-side-bar {
    position: absolute;
    left: -55px;
    top: 21px;
    cursor: pointer;
}

.sider {
    position: absolute;
    right: -386px;
}

.loader {
    position: absolute;
    top: 271px;
    left: 353px;
}
